// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.whatsapp {
    @include whatsapp-button;
}

header {
    width: 100%;
    height: auto;
    padding: 15px 30px;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 99;
    @include transition(ease, 0.2s);

    a {
        color: $white;

        &:hover,
        &:focus {
            color: $red;
        }
    }

    .list-inline {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    #logo-navbar {
        width: 100px;
        @include transition(ease, 0.2s);
    }

    #mburger {
        color: $white;

        &:hover,
        &:focus {
            color: $red;
        }
    }
}

.navbar-scroll {
    background-color: $red;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    a {
        color: $white;

        &:hover,
        &:focus {
            color: $black;
        }
    }

    #logo-navbar {
        width: 100px !important;
    }

    #mburger {
        color: $white !important;

        &:hover,
        &:focus {
            color: $black;
        }
    }
}

#mapa {
    line-height: 0;

    p {
        margin: 0;
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

.btn {
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.card {
    border-radius: 3rem;
    overflow: hidden;
    padding: 10px;

    h1 {
        @include font-size(1.2rem);
    }

    img {
        border-radius: 3rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

.section-red {
    background-color: $red;
    color: $white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    .card {
        background-color: transparent;
        border-color: $white;
        color: $white;
    }

    .btn-primary {
        border-color: $white;
    }
}

.section-white {
    background-color: $white;
    color: $black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $red;
    }

    .card {
        border-color: $red;
    }
}

.section-gray {
    background-color: #f2f2f2;
    color: $black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $red;
    }

    .card {
        background-color: #f2f2f2;
        border-color: $red;
    }
}

.section-bg-sandwich {
    @include background("../images/bg-sandwich.png", center, cover);
}

.section-bg-salchichas {
    @include background("../images/bg-salchichas.png", center, cover);
}

.section-bg-sandwich,
.section-bg-salchichas {
    background-color: #f2f2f2;
    color: $black;
    position: relative;

    .overlay {
        background-color: rgba(228, 25, 47, 0.9);
        mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .container,
    .container-fluid {
        position: relative;
        z-index: 2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    .card {
        background-color: #f2f2f2;
        border-color: $red;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $red;
        }
    }
}

.curved-div {
    position: relative;
    overflow: hidden;
}

.curved-div::before,
.curved-div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: white;
    @include transition(ease, 0.3s);
}

.curved-div::before {
    top: -50px;
    left: 0;
    border-bottom-left-radius: 100% 50px;
    border-bottom-right-radius: 100% 50px;
}

.curved-div::after {
    bottom: -50px;
    left: 0;
    border-top-left-radius: 100% 50px;
    border-top-right-radius: 100% 50px;
}

#jumbotron {
    color: $white;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }

    .overlay {
        background: rgb(0, 0, 0);
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 30%,
            transparent 100%
        );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }
}

$jumbotron-bg-images: (
    "../images/bg-jumbotron-1.png",
    "../images/bg-jumbotron-2.png",
    "../images/bg-jumbotron-3.png",
    "../images/bg-jumbotron-4.png"
);

$index-jumbotron: 1;

@each $image in $jumbotron-bg-images {
    .bg-jumbotron-#{$index-jumbotron} {
        @include background("#{$image}", center, cover);
    }
    $index-jumbotron: $index-jumbotron + 1;
}

#productos {
    color: $red;
    text-align: center;
    position: relative;

    /*
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: $red;
        border-top-left-radius: 50% 20%;
        border-top-right-radius: 50% 20%;
    }
    */
}

.recetas-generico,
#recetario,
#before-recetario,
#after-recetario,
#consejos,
.before-consejos,
.after-consejos,
#recetas-de-temporada {
    position: relative;
    z-index: 2;
}

#recetario {
    padding: 60px 0;
}

#before-recetario,
#after-recetario {
    height: 100px;
    @include transition(ease, 0.3s);
}

#before-recetario {
    @include background("../images/before-recetario.png", center, cover);
    margin-top: -60px;
}

#after-recetario {
    @include background("../images/after-recetario.png", center, cover);
}

#nuestra-historia {
    @include background("../images/bg-nuestra-historia.png", center, cover);
    color: $white;
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    margin-top: -70px;
    z-index: 1;

    span {
        color: $red;
    }

    .btn {
        border-color: $red;
        color: $red;

        &:hover,
        &:focus {
            border-color: $white;
            color: $white;
        }
    }

    .overlay {
        background: rgb(0, 0, 0);
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 80%,
            transparent 100%
        );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }
}

#consejos {
    padding: 60px 0;
    overflow: hidden;

    .card {
        background-color: transparent;
        border: none;

        .btn-ver {
            text-transform: uppercase;
            i {
                color: $black;
            }
        }
    }
}

.before-consejos,
.after-consejos {
    height: 100px;
    @include transition(ease, 0.3s);
}

.before-consejos {
    @include background("../images/before-consejos.png", center, cover);
    margin-top: -70px;
}

.after-consejos {
    @include background("../images/after-consejos.png", center, cover);
}

#historia {
    position: relative;
    overflow-y: hidden;
}

#producto {
    @include background("../images/bg-producto.png", center, cover);
    height: 164vh;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(ease, 0.3s);

    .card {
        @include font-size(0.8rem);
    }

    .especificaciones {
        width: 100%;

        li {
            margin-bottom: 1rem;
        }

        .especificacion {
            color: $white;
            display: flex;

            div {
                background-color: $red;
                border-radius: 0.6rem;
                padding-left: 40px;
                width: 100%;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
            }

            div:first-child {
                background-color: $white;
                border-radius: 1rem;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                color: $red;
                padding-left: 0;
                width: 62px;
                height: 48px;
                position: relative;
                left: 40px;
            }
        }
    }
}

#receta {
    color: $white;

    .contenedor-receta {
        border: 1px solid $white;
        border-bottom: none;
        border-radius: 40px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        float: left;
    }

    ul,
    ol {
        li {
            margin-bottom: 1.4rem;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }
}

#bg-aleatorio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        max-width: 200px;
    }
}

$background-images: (
    "../images/bg-aleatorio-1.png",
    "../images/bg-aleatorio-2.png",
    "../images/bg-aleatorio-3.png",
    "../images/bg-aleatorio-4.png",
    "../images/bg-aleatorio-5.png"
);

$index: 1;

@each $image in $background-images {
    .bg-aleatorio-#{$index} {
        @include background("#{$image}", center, cover);
    }
    $index: $index + 1;
}

footer {
    padding: 100px 0 30px;

    h1,
    i {
        color: $red;
    }

    h1 {
        @include font-size(1.4rem);
    }

    a {
        color: $black;

        &:hover {
            color: $red;
        }
    }

    .social {
        a {
            color: $black;

            i {
                color: $black;
                @include transition(ease, 0.3s);

                &:hover {
                    color: $red;
                }
            }
        }
    }

    .logo {
        max-width: 200px;
    }
}
